@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  max-height: 90vh;
  overflow-y: auto;
  animation: appear 0.5s forwards ease-in-out;
}

.closeLogin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  max-height: 90vh;
  overflow-y: auto;
  animation: disappear 0.5s forwards ease-in-out;
}

@keyframes appear {
  from {
    transform: translate(-50%, -50%) translateX(1500px);
  }
  to {
    transform: translate(-50%, -50%) translateX(0);
  }
}
@keyframes disappear {
  from {
    transform: translate(-50%, -50%) translateX(0);
  }
  to {
    transform: translate(-50%, -50%) translateX(-2500px);
  }
}

.x {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  background-color: transparent;
}

.loginRegisterArticle {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 38vw;
  max-width: 100%;
  min-height: 480px;
  z-index: 4;
}

#login h1 {
  font-weight: bold;
  margin: 0;
  font-size: clamp(0.75rem, 2vw, 2rem);
}

#login h2 {
  text-align: center;
  font-size: clamp(0.65rem, 2vw, 1.5rem);
}

#login p {
  font-size: clamp(0.5rem, 3vw, 14px);
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#login a {
  color: #333;
  font-size: clamp(0.5rem, 3vw, 14px);
  text-decoration: none;
  margin: 15px 0;
}

.loginRegisterArticle button {
  border-radius: 20px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: #ffffff;
  font-size: clamp(0.5rem, 2.5vw, 12px);
  font-weight: bold;
  padding: 12px 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.loginRegisterArticle button:active {
  transform: scale(0.95);
}

.loginRegisterArticle button:focus {
  outline: none;
}

.loginRegisterArticle button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

#login form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

#login input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: var(--radius-xs);
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.loginRegisterArticle.rightPanelActive .signInContainer {
  transform: translateX(100%);
}

.signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.loginRegisterArticle.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.loginRegisterArticle.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  background: var(--color-secondary);
  background: -webkit-linear-gradient(
    to left,
    var(--color-primary),
    var(--color-secondary)
  );
  background: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-secondary)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginRegisterArticle.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
}

.loginRegisterArticle.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.loginRegisterArticle.rightPanelActive .overlayRight {
  transform: translateX(20%);
}
#overlayBlur {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 3;
}

#overlayBlur.active {
  opacity: 1;
  pointer-events: all;
}

.formError {
  position: absolute;
  width: 70%;
  bottom: 40px;
  color: #d33;
  font-size: 0.85rem;
  margin-top: 6px;
  display: block;
}

@media (max-width: 550px) {
  .loginRegisterArticle {
    width: 100vw;
  }
  .loginForm .fileForm input {
    height: 20px;
    font-size: 10px;
  }
  .loginForm .fileForm input::placeholder {
    font-size: 10px;
  }
  #signInButton {
    font-size: 10px;

    padding: 0;
    width: 100%;
    height: 25px;
  }
  #signUpButton {
    font-size: 10px;
    padding: 0;
    width: 100%;
    height: 25px;
  }
  .loginRegisterArticle button.ghost {
    font-size: 10px;
    padding: 0;
    width: 100%;
    height: 25px;
  }
}
